<div class="row text-dark m-0">
    <div class="col-md-8 offset-md-2 mt-5 wrapper container">

        {{ dd($data) }}

        @foreach($data as $key => $value)
            <div class="w-100 row text-light card bg-dark p-0">
                <div class="col m-0">
                    <h3 class="card-header">{{ $key }}</h3>
                </div>
                <div class="col-5 m-0">
                    <p class="card-text">{{ $value['text'] }}...</p>
                    <p class="card-text"><img src="{{ $value['image'] }}"></p>
                </div>
                <div class="col m-0">{{ $value['attr1'] }}</div>
                <div class="col m-0">{{ $value['attr2'] }}</div>
                <div class="col m-0">{{ $value['attr3'] }}</div>
                <div class="col m-0">{{ $value['attr4'] }}</div>
                <div class="col m-0">{{ $value['attr5'] }}</div> 
            </div>
        @endforeach
        <div>Content</div>
    </div>
</div>

