:root[data-theme="theme-dark"] {
    --element-color: rgb(42, 42, 42);
    --bg-color: rgb(36, 36, 36);
    --contrasting-color: rgb(250, 250, 250);
    --gray: rgb(128, 128, 128);
    --accent: rgb(70, 136, 50);
    --hover-color: rgb(255, 255, 255);
}

:root[data-theme="theme-light"] {
    --element-color: rgb(250, 250, 250);
    --bg-color: rgb(230, 230, 230);
    --contrasting-color: rgb(42, 42, 42);
    --gray: rgb(128, 128, 128);
    --accent: rgb(70, 136, 50);
    --hover-color: rgb(0, 0, 0);
}

