@import 'variables';

@import '~bootstrap/scss/bootstrap';

/*#region Main*/
body
{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: var(--contrasting-color) !important;
    background-color: var(--bg-color) !important;
}
.card
{
    background-color: var(--element-color) !important;
}
.nav-link, .navbar-brand, .navbar
{
    color: var(--contrasting-color) !important;
    background-color: var(--element-color) !important;
}
.CustomGrayNavItem
{
    color: var(--gray) !important;
}
.ListingRow
{
    max-width: 65rem;
    min-height: 16rem;
}
.CustomNavButton
{
    color: var(--accent) !important;
    transition: transform 250ms;
}
.CustomNavButton:hover
{
    transform: translateY(6px);
    color: var(--hover-color) !important;
}
.CustomButton
{
    padding: 0.5rem;
    border: 2px solid;
    background-color: var(--element-color);
    color: var(--accent) !important;
    transition: transform 250ms;
}
.CustomButton:hover
{
    transform: translateY(6px);
    color: var(--hover-color) !important;
}
.CustomCheckbox
{
    width: 1.5rem;
    height: 1.5rem;
}
.TextCol
{
    background-color: var(--bg-color) !important;
}
.card
{
    width: 65rem !important;
}
/*#endregion*/